.eventCrear{
    display: flex;
    justify-content: space-around;
    height: 250px;
}

.botonlogOut {
    background-color: #ff4d4f;
    color: white;
    padding: 10px 20px;
    border: none; /* Sin borde */
    border-radius: 5px; 
    font-size: 16px; 
    height: 40px;
    width: 150px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}
.InformeTimer{
    display: flex;
    justify-content: space-around;  
}

.botonlogOut:hover {
    background-color: #d43f3a; /* Cambia el color de fondo al pasar el cursor por encima */
}