.eventCrear{
    display: flex;
    height: 250px;
}
body{
    background: rgb(217,217,217);
    background: radial-gradient(circle, rgba(217,217,217,1) 0%, rgba(222,222,221,1) 50%, rgba(248,248,245,1) 100%);
}

.botonlogOut {
    background-color: #ff4d4f;
    color: white;
    padding: 10px 20px;
    border: none; /* Sin borde */
    border-radius: 5px; 
    font-size: 16px; 
    height: 40px;
    width: 150px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}
.InformeTimer{
    display: flex;
    width: 100%;
}

.botonlogOut:hover {
    background-color: #d43f3a; /* Cambia el color de fondo al pasar el cursor por encima */
}